* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body li,
a {
  list-style-type: none;
  text-decoration: none;
}

hero {
  background-image: url("https://picsum.photos/2000/1000");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

